.card {
  height: inherit;
}

.card-container {
  width: 40%;
  margin: 50px;
}

.card-wrapper {
  display: flex;
}

.card-action {
  text-align: center;
}

.apod-button {
  margin: 10px 50px 10px 0px;
}